*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
background-color: yellowgreen;
height: 100%;
}
nav img{
    width: 100px;
    margin-top: 10px;
    margin-right: 20px;
}
nav ul{
    float: right;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a:hover{
    color: red;
}

